.card-hover:hover{
  box-shadow: 15px 15px 20px rgba(57, 124, 116, 0.08), -15px -15px 20px rgba(255, 255, 255, 0.7);
  transition: all .2s ease-out;
}
.carousel{
  width: 150%;
}
.flip-img {
  transform: rotateY(180deg);
}
.life{
  margin-bottom: -9rem;
}

#header{
  transition: top 1.5s;
}
@media only screen and (max-width: 	1320px) {
  .life{
    margin-bottom: -6rem;
  }
  @media only screen and (max-width: 1140px) {
    .hero {
      font-size: 6rem !important;
      margin-bottom: 2.5rem;
      }
    .carousel{
      width: 100%;
    }
    .life{
      margin-bottom: -2rem;
    }
    .custombutton{
      display: none;
    }
    @media only screen and (max-width: 720px) {
      .about{
        margin-left: -10%;
        width: 120% !important;
      }    
      .hero {
        font-size: 3.25rem !important;
        margin-bottom: 7rem;
        }
      .life{
        margin-bottom: 2rem;
      }
    }
  }
}