.card-hover:hover{
  box-shadow: 15px 15px 20px rgba(57, 124, 116, 0.08), -15px -15px 20px rgba(255, 255, 255, 0.7);
  transition: all .2s ease-out;
}
.carousel{
  width: 150%;
}
.flip-img {
  transform: rotateY(180deg);
}
.life{
  margin-bottom: -10rem;
}

#header{
  transition: top 1.5s;
}

@media only screen and (max-width: 464px) {
  .carousel{
    width: 100%;
  }
  .hero {
    font-size: 3.25rem !important;
    margin-bottom: 7rem;
    }
  .life{
    margin-bottom: 2rem;
  }
}